* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.btn-black {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  padding: 10px 25px;
  border: 1px solid #111827;
  min-width: 130px;
  max-width: 100%;

  transition: all 0.3s ease;
}

.btn-black:hover {
  background-color: #000;
  color: #fff;
}

/* header section */
header {
  padding: 26px 0 24px;
}

.header-mb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.header-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-items i {
  font-size: 25px;
  position: relative;
}

.locaton-text {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  padding-left: 4px;
}

.header-logo {
  font-size: 20px;
}

.right-side {
  gap: 8px;
}
.user-icons {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
}
.user-icons .angle {
  font-size: 16px;
  opacity: 0.3;
  padding-left: 8px;
}

.cart-icon {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.wrapper-top-cart {
  position: relative;
  display: inline-block;
}

/* cart badge css */

.wrapper-top-cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #000;
  border: 1px solid #000;
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  height: 20px;
  width: 20px;
}

.wrapper-top-cart .shoppingCart {
  font-size: 24px;
}

/* cart dropdown menu */

.wrapper-top-cart .dropdown-cart {
  position: absolute;
  top: 125%;
  right: -150px;
  z-index: 4;
  border-radius: 3px;
  box-shadow: 0 1px 3px #0003;
  background-color: #fff;
  padding: 16px 20px 10px;
  max-width: 318px;
  width: 100vw;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.wrapper-top-cart:hover .dropdown-cart {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}

.no-items {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.wrapper-top-cart:hover .no-items {
  opacity: 1;
  transform: translateY(0);
}
.wrapper-top-cart .cart-title,
.header-bottom .lang-currency-groups .label-text {
  display: none;
}

.customer-title,
.cart-title {
  margin-bottom: 22px;
  margin-top: 7px;
}

.dropdown-cart .cart_empty {
  margin-bottom: 25px;
  text-align: center;
}

.text-continue {
  margin-bottom: 12px;
}

/* header searchBar */

.searchBar {
  position: relative;
  padding-left: 10px;
  border-radius: 3px;
}

.searchBar input {
  padding-top: 8px;
  padding-bottom: 6px;
  max-width: 160px;
  height: 35px;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-left: 10px;
  font-size: 14px;
}
.search-icons {
  position: absolute;
  top: 0px;
  right: 35px;
}

.searchBar i {
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
}

/* category section start */
.container {
  position: relative;
}

.category-items {
  padding: 26px 90px;
}

.category-items > ul > li {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding-bottom: 2px;
  cursor: pointer;
}

.category-items > ul > li:before {
  position: absolute;
  left: 0;
  width: 0;
  bottom: -2px;
  height: 1px;
  content: "";
  display: block;
  transition: width 0.3s ease;
  visibility: hidden;
  background-color: black; /* Adjust color as needed */
}

.category-items > ul > li:hover:before,
.category-items > ul > li:focus:before,
.category-items > ul > li:focus-within:before {
  width: 100%;
  visibility: visible;
}

.category-items > ul > li:first-child {
  color: red !important;
}

/* category dropdown brands*/
.brands-nav-dropdown {
  top: 30px;
  left: -20px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 230px;
  border-radius: 3px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  padding: 10px;
}

.brands-nav-dropdown:last-child {
  padding-bottom: 0px !important;
}

.brands-dropdown li {
  font-weight: normal;
  margin-bottom: 4px !important;
}

.brands-dropdown span {
  font-size: 12px;
}

.brands-dropdown li:last-child {
  margin-bottom: 0px;
}

li:hover > .brands-nav-dropdown {
  display: block;
}

.brands-nav-dropdown li {
  padding: 9px 20px;
}

.brands-nav-dropdown ul li {
  border-bottom: 1px solid #eaeaea;
  padding: 9px 20px;
  margin-bottom: 0;
  position: relative;
}

.brands-nav-dropdown ul li:last-child {
  border-bottom: hidden !important;
}

.brands-nav-dropdown .fa-angle-right {
  visibility: hidden;
  transition: visibility 0.3s ease, color 0.3s ease;
}

.brands-nav-dropdown li:hover .fa-angle-right {
  visibility: visible;
  color: black;
}

.brands-nav-dropdown li:hover span {
  font-weight: 600;
  padding-left: 10px;
}

/* category dropdown mens*/

.men-nav-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 840px;
  border-radius: 3px;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  visibility: hidden;
  opacity: 0;
}

li:hover .men-nav-dropdown {
  display: grid;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out;
}

.men-dropdown {
  padding: 0;
}

.men-nav-dropdown ul {
  border: none;
}

.men-nav-dropdown li {
  padding: 5px 10px;
  border-bottom: 1px solid #eaeaea;
}

.men-nav-dropdown li:last-child {
  border-bottom: none;
}

/* category section end */

/* banner section start */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000 !important;
  font-size: 25px !important;
  font-weight: 600;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: red !important;
}

.discount {
  gap: 15px;
}

.discount img {
  max-width: 100%;
  height: auto;
  border: none;
}
.discount img {
  vertical-align: middle;
  border-style: none;
}
