* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.btn-black {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  padding: 10px 25px;
  border: 1px solid #111827;
  min-width: 130px;
  max-width: 100%;
  transition: all 0.3s ease;
}

.btn-black:hover {
  background-color: #000;
  color: #fff;
}

.btn-round {
  border-radius: 30px !important;
  padding: 10px 25px !important;
}

/* .shop-btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  border-radius: 3px;
  padding: 10px 35px;
  background: #000;
  color: #fff;
  min-width: 130px;
  max-width: 100%;
  transition: all 0.3s ease;
}

.shop-btn:hover{
  background-color: red;
} */

/* header section */
header {
  padding: 26px 0 24px !important;
}

.header-mb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
}

.header-items i {
  font-size: 25px;
  position: relative;
}

.locaton-text {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  padding-left: 4px;
}

.header-logo {
  font-size: 20px;
}

.right-side {
  gap: 8px;
}
.user-icons {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
}
.user-icons .angle {
  font-size: 16px;
  opacity: 0.3;
  padding-left: 8px;
}

.cart-icon {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.wrapper-top-cart {
  position: relative;
  display: inline-block;
}

/* cart badge css */

.wrapper-top-cart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #000;
  border: 1px solid #000;
  color: white;
  border-radius: 50%;
  padding: 0.5em;
  height: 20px;
  width: 20px;
}

.wrapper-top-cart .shoppingCart {
  font-size: 24px;
}

/* cart dropdown menu */

.wrapper-top-cart .dropdown-cart {
  position: absolute;
  top: 125%;
  right: -150px;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 1px 3px #0003;
  background-color: #fff;
  padding: 16px 20px 10px;
  max-width: 318px;
  width: 100vw;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.wrapper-top-cart:hover .dropdown-cart {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}

.no-items {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.wrapper-top-cart:hover .no-items {
  opacity: 1;
  transform: translateY(0);
}
.wrapper-top-cart .cart-title,
.header-bottom .lang-currency-groups .label-text {
  display: none;
}

.customer-title,
.cart-title {
  margin-bottom: 22px;
  margin-top: 7px;
}

.dropdown-cart .cart_empty {
  margin-bottom: 25px;
  text-align: center;
}

.text-continue {
  margin-bottom: 12px;
}

/* header searchBar */

.searchBar {
  position: relative;
  padding-left: 10px;
  border-radius: 3px;
}

.searchBar input {
  padding-top: 8px;
  padding-bottom: 6px;
  max-width: 160px;
  height: 35px;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding-left: 10px;
  font-size: 14px;
}
.search-icons {
  position: absolute;
  top: 8px;
  right: 10px;
}

.searchBar i {
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
}

/* nav section start */
nav {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 15px;
}

.nav-menu .menu-items {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  position: relative;
}

.nav-menu .menu-items > li {
  position: relative;
}

.nav-menu .menu-items > li:before {
  position: absolute;
  left: 0;
  width: 0;
  bottom: -2px;
  height: 1px;
  content: "";
  display: block;
  transition: width 0.3s ease;
  visibility: hidden;
  background-color: black;
}

.nav-menu .menu-items > li:hover:before,
.nav-menu .menu-items > li:focus:before,
.nav-menu .menu-items > li:focus-within:before {
  width: 100%;
  visibility: visible;
}

.nav-menu .menu-items > li:first-child {
  color: red !important;
}

.brands-nav-dropdown {
  left: -20px;
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  min-width: 210px;
  text-align: left;
  border-radius: 3px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}
.brands-nav-dropdown li {
  padding: 12px 20px;
  border-bottom: 1px solid #eaeaea;
  font-size: 12px;
  color: #2d2d2d;
  font-weight: normal;
}

.brands-nav-dropdown li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.menu-items li:hover .brands-nav-dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
  left: 0;
}

.menu-lv-2 i {
  opacity: 0;
  visibility: hidden;
}
.menu-lv-2:hover i {
  opacity: 1;
  padding-right: 15px;
  visibility: visible;
}

.menu-lv-2:hover span {
  font-weight: 700 !important;
  text-align: center;
}

/* men nav collection */
.men-nav-dropdown {
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  min-width: 1200px;
  width: 100%;
  height: auto;
  text-align: left;
  border-radius: 3px;
  margin-top: 50px;
  visibility: hidden;
  opacity: 1;
  transform: translateX(-25%);
  transition: all 0.3s ease-in-out;
}

.menu-items li:hover .men-nav-dropdown {
  margin-top: 24px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.brands-dropdown h6 {
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 25px;
  color: #000000;
  opacity: 0.6;
}

.men-nav-dropdown .brands-dropdown li {
  padding: 6px 20px;
}

.brands-dropdown span {
  font-size: 12px;
  color: #000000;
  opacity: 0.9;
  font-weight: normal;
}

.men-nav-dropdown .brands-dropdown > li:first-child > span {
  color: red !important;
}

/* nav section end */

/* banner swipper  section start */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000 !important;
  font-size: 25px !important;
  font-weight: 600;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: red !important;
}

/* main section product collection */
.animate-scale {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.animate-scale:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.animate-scale img {
  transition: all 0.7s ease;
}

.animate-scale:hover:before {
  opacity: 0.7;
}

.animate-scale:hover img {
  transform: scale(1.1);
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s;
}

/* just Landed page card items */

.landing-page-tittle {
  color: #141414;
  font-size: 26px;
  letter-spacing: 0.02em;
  font-weight: 600;
  position: relative;
  margin-bottom: 12px;
  display: inline-block;
}

.slider {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  transition: all 0.5s ease-in-out !important;
}

.slider-item {
  width: calc(20% - 20px);
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.slider-item:hover {
  z-index: 10 !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transform: scale(1.05);
}

.slick-next {
  right: 0px !important;
}
.slick-prev {
  left: -15px !important;
}
.slick-track {
  margin-left: 10px !important;
}

.slick-prev::before,
.slick-next::before {
  font-family: "FontAwesome" !important;
  color: black !important;
}

.slick-prev::before {
  content: "\f053" !important;
}

.slick-next::before {
  content: "\f054" !important;
}

/* cart items */
.quickview-button {
  background-color: #fff;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 22px;
  border-radius: 3px;
  z-index: 4;
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 4px #00000026;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.slider-item:hover .quickview-button,
.slider-item:hover .fa-heart,
.slider-item:hover .items-info,
.slider-item:hover .shop-btn {
  opacity: 1;
  visibility: visible;
}

.slider-img:hover .first-image {
  opacity: 0 !important;
}

.slider-img:hover .second-image {
  opacity: 1 !important;
}

.fa-heart:hover,
.quickview-button:hover {
  opacity: 1 !important;
}

.items-info {
  text-align: center;
  margin-top: 10px;
}

.slider-item .shop-btn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  border-radius: 3px;
  padding: 10px 45px;
  background: #000;
  color: #fff;
  min-width: 130px;
  max-width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.slider-item:hover .shop-btn {
  opacity: 1;
  visibility: visible;
}

.shop-btn:hover {
  background-color: red;
}

.hidden {
  display: none;
}

.btn-round.active {
  background-color: #000;
  color: #fff;
}

.content {
  display: math !important;
}

.shadow-box {
  padding-bottom: 120px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.shadow-box1 {
  padding-bottom: 130px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* footer title */

.footer-title {
  color: #fff !important;
  opacity: 1 !important;
}

.footer2 {
  justify-content: space-between !important;
  align-items: center !important;
}

.footer-nav > a {
  position: relative;
}

.footer-nav > a:before {
  position: absolute;
  left: 0;
  width: 0;
  bottom: -2px;
  height: 1px;
  content: "";
  display: block;
  visibility: hidden;
  transition: width 0.3s ease;
  background-color: #fff;
}

.footer-nav > a:hover:before,
.footer-nav > a:focus:before,
.footer-nav > a:focus-within:before {
  width: 100%;
  visibility: visible;
}

#drawer {
  transition: transform 0.3s ease-in-out;
}
