<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- tailwind link -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="./output.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />

  <!-- daisyui link -->
  <link
    href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <body>
    <header
      class="container mx-auto flex-no-wrap relative flex w-full items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 md:flex-wrap md:justify-start md:py-4"
    >
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Hamburger button for mobile view -->
        <button
          class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden"
          type="button"
          aria-controls="navbarSupportedContent1"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="toggleDrawer()"
        >
          <!-- Hamburger icon -->
          <span class="">
            <i class="fa-solid fa-bars text-2xl"></i>
          </span>
        </button>

        <!-- Collapsible navigation container -->
        <div class="flex" id="navbarSupportedContent1">
          <!-- left side location -->
          <div
            class="!visible hidden md:!flex md:basis-auto left-side items-center justify-center"
          >
            <i class="fa-solid fa-location-dot"></i>
            <span class="locaton-text md:text-xs lg:text-lg">
              Find A Store | Customer care: 09666200300
            </span>
          </div>
          <div class="md:hidden">
            <a href="#"
              ><i class="fa-solid fa-magnifying-glass text-2xl"></i
            ></a>
          </div>
        </div>

        <!-- Drawer for mobile view -->
        <div
          id="drawer"
          class="fixed rounded-r-2xl top-16 left-0 z-50 w-11/12 h-auto bg-slate-800 transform -translate-x-full transition-transform duration-300 ease-in-out md:hidden"
        >
          <!-- Drawer content -->
          <div class="flex justify-end p-4">
            <button
              class="border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200"
              type="button"
              aria-label="Close navigation"
              onclick="toggleDrawer()"
            >
              <!-- Close icon -->
              <span>
                <i class="fa-solid fa-rectangle-xmark text-2xl text-white"></i>
              </span>
            </button>
          </div>

          <div class="flex items-center gap-10 text-white opacity-100">
            <div class="avatar">
              <div
                class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 ml-2"
              >
                <img
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                />
              </div>
            </div>
            <div class="">
              <h1 class="text-lg">MD Gousul Islam</h1>
              <p class="text-base">gausulislam5@gmail.com</p>
              <span class="text-xs">01785003901</span>
            </div>
          </div>
          <hr class="bg-white mt-5" />
          <ul
            class="list-style-none p-4 text-white space-y-1 overflow-y-auto max-h-[calc(100vh-200px)]"
          >
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
          </ul>
        </div>

        <!-- middle  logo img section -->

        <div>
          <a class="logo-img" href="" title="Logo">
            <img
              itemprop="logo"
              data-src="//www.batabd.com/cdn/shop/files/logo-2_d42c63ce-1f56-4af2-a68f-a4cc3a91bd07.png?v=1614332440"
              src="//www.batabd.com/cdn/shop/files/logo-2_d42c63ce-1f56-4af2-a68f-a4cc3a91bd07.png?v=1614332440"
              alt="batabd"
              class="lazyautosizes lazyloaded w-20 md:w-24 lg:w-full"
              data-sizes="auto"
            />
          </a>
        </div>

        <!-- Right elements -->
        <div class="relative flex items-center">
          <a
            class="me-4 text-neutral-600 dark:text-white"
            href="#"
            id="user-icon"
          >
            <div class="customer-links">
              <div class="user-icons flex items-center justify-center">
                <!-- Icon -->
                <i class="fa-regular fa-user text-2xl"></i>
                <i class="fa-solid fa-angle-down angle text-xl"></i>
              </div>
            </div>
          </a>

          <!-- user profile dropdown menu -->
          <div
            class="absolute right-[75%] top-8 z-10 p-3 w-44 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dropdown-menu"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
            id="dropdown-menu"
          >
            <div class="py-1" role="none">
              <a
                href="#"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                onclick="gotoLogin()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                <i class="fa-regular fa-user text-lg pr-4"></i>
                Manage your Account</a
              >
              <a
                href="#"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                onclick="gotoLogin()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                <i class="fa-regular fa-user text-lg pr-4"></i>
                Login</a
              >
              <a
                href="#"
                onclick="gotoSignup()"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
                ><i class="fa-regular fa-address-card text-lg pr-2"></i> Sign
                Up</a
              >
              <button
                type="submit"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3"
              >
                <i class="fa-solid fa-ban text-lg pr-4"></i>Sign out
              </button>
            </div>
          </div>

          <!-- wishlist icon -->

          <a
            class="wishlist hidden sm:hiddden md:block"
            href=""
            title="My Wishlists"
          >
            <i class="fa-regular fa-heart text-2xl"></i>
          </a>

          <!-- WhatsApp icon -->
          <a href="#" class="hidden sm:hidden md:block">
            <img
              src="https://cdn.shopify.com/s/files/1/2287/9679/files/whatsapp-icon.png?v=1631614102"
              alt="whatsapp call"
              class="w-6 mx-4"
            />
          </a>

          <!-- cart icons  -->

          <div
            class="wrapper-top-cart relative inline-block transition-all duration-300 ease-in-out"
            onclick="gotoCart()"
          >
            <i class="fa-solid fa-cart-shopping cursor-pointer text-2xl"></i>
            <div class="badge badge-secondary">0</div>
            <div class="dropdown-cart hidden sm:hidden md:hidden lg:block">
              <div class="no-items sm:hidden md:hidden lg:block">
                <p class="text-center mb-6">Your cart is currently empty.</p>
                <div class="mb-3">
                  <a class="btn-black" href="#"> Continue Shopping </a>
                </div>
              </div>
            </div>
          </div>

          <!-- searchbar -->

          <div class="searchBar ml-3 hidden sm:hidden md:hidden lg:block">
            <input type="text" placeholder="SEARCH" />
            <i class="fa-solid fa-magnifying-glass search-icons"></i>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </header>
    <div class="text-center p-10">
      <h1 class="font-bold text-4xl mb-4">Responsive Product card grid</h1>
    </div>

    <!-- ✅ Grid Section - Starts Here 👇 -->
    <section
      id="Projects"
      class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
    >
      <!--   ✅ Product card 1 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 1 - Ends Here  -->

      <!--   ✅ Product card 2 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1651950519238-15835722f8bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mjh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 2- Ends Here  -->

      <!--   ✅ Product card 3 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1651950537598-373e4358d320?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MjV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 3 - Ends Here  -->

      <!--   ✅ Product card 4 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1651950540805-b7c71869e689?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mjl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 4 - Ends Here  -->

      <!--   ✅ Product card 5 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1649261191624-ca9f79ca3fc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 5 - Ends Here  -->

      <!--   ✅ Product card 6 - Starts Here 👇 -->
      <div
        class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
      >
        <a href="#">
          <img
            src="https://images.unsplash.com/photo-1649261191606-cb2496e97eee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="Product"
            class="h-80 w-72 object-cover rounded-t-xl"
          />
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">Brand</span>
            <p class="text-lg font-bold text-black truncate block capitalize">
              Product Name
            </p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">
                $149
              </p>
              <del>
                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
              </del>
              <div class="ml-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bag-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--   🛑 Product card 6 - Ends Here  -->
    </section>

    <!-- 🛑 Grid Section - Ends Here -->

    <!-- credit -->

    <footer class="footer p-10 bg-black text-white">
      <nav class="footer-nav">
        <h6 class="footer-title">ABOUT</h6>
        <a class="">About Us</a>
        <a class="">Careers</a>
        <a class="">Awards & Recognition</a>
        <a class="">Investors</a>
        <a class="">Bata Industrials</a>
        <a class="">Share Department</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">INFORMATION</h6>
        <a class="">TERMS & CONDITIONS</a>
        <a class="">Payment Options</a>
        <a class="">Privacy Policy</a>
        <a class="">Franchise Programme</a>
        <a class="">Coverage areas</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">POPULAR BRANDS</h6>
        <a class="">Bata</a>
        <a class="">Hush Puppies</a>
        <a class="">Power</a>
        <a class="">Comfit</a>
        <a class="">Weinbrenner</a>
        <a class="">North Star</a>
        <a class="">Marie Claire</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">CUSTOMER SERVICE</h6>
        <a class="">FAQs</a>
        <a class="">MyBata</a>
        <a class="">Bata Stores</a>
        <a class="">All About Feet</a>
        <a class="">Contact Info</a>
        <a class="">Report Issue</a>
      </nav>
      <nav>
        <h6 class="footer-title">INFO</h6>
        <a class="">Bata Shoe Company</a>
        <a class="">
          Bangladesh Ltd. <br />
          Tongi Gazipur, Bangladesh.
        </a>
        <a class="">Call us at: 09666200300</a>
        <a class="">
          (9am-9pm) <br />
          Email: bd.customercare@bata.com
        </a>
      </nav>
    </footer>

    <footer
      class="footer px-10 pt-4 border-t bg-black text-white border-base-300 footer2"
    >
      <aside class="items-center grid-flow-col">
        <p>Sign up for our Newsletter</p>
      </aside>
      <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
          <i class="fa-brands fa-twitter text-2xl"></i>
          <i class="fa-brands fa-youtube text-2xl"></i>
          <i class="fa-brands fa-facebook text-2xl"></i>
        </div>
      </nav>
    </footer>

    <footer class="footer footer-center px-10 py-2 bg-black text-white rounded">
      <p>
        © 2023 Bata Shoe Company Bangladesh Ltd. Tongi, Postal code - 1710,
        Gazipur, Bangladesh
      </p>
      <nav>
        <div class="grid grid-flow-col gap-4">
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/visa-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/masterc-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/amex-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
        </div>
      </nav>
    </footer>

    <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
    <script src="/Task-01//drutoshoes_template/src/Components/script.js"></script>
    <script>
      kofiWidgetOverlay.draw("mohamedghulam", {
        type: "floating-chat",
        "floating-chat.donateButton.text": "Support me",
        "floating-chat.donateButton.background-color": "#323842",
        "floating-chat.donateButton.text-color": "#fff",
      });
    </script>
  </body>
</html>
