<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- DaisyUI -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- css link -->
    <link rel="stylesheet" href="style.css" />

    <script
      src="https://kit.fontawesome.com/f07af11b35.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .active {
        border-left-color: #2563eb !important;
        color: #2563eb !important;
      }
    </style>
  </head>
  <body>
    <header
      class="container mx-auto flex-no-wrap relative flex w-full items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 md:flex-wrap md:justify-start md:py-4"
    >
      <div class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Hamburger button for mobile view -->
        <button
          class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden"
          type="button"
          aria-controls="navbarSupportedContent1"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="toggleDrawer()"
        >
          <!-- Hamburger icon -->
          <span class="">
            <i class="fa-solid fa-bars text-2xl"></i>
          </span>
        </button>

        <!-- Collapsible navigation container -->
        <div class="flex" id="navbarSupportedContent1">
          <!-- left side location -->
          <div
            class="!visible hidden md:!flex md:basis-auto left-side items-center justify-center"
          >
            <i class="fa-solid fa-location-dot"></i>
            <span class="locaton-text md:text-xs lg:text-lg">
              Find A Store | Customer care: 09666200300
            </span>
          </div>
          <div class="md:hidden">
            <a href="#"
              ><i class="fa-solid fa-magnifying-glass text-2xl"></i
            ></a>
          </div>
        </div>

        <!-- Drawer for mobile view -->
        <div
          id="drawer"
          class="fixed rounded-r-2xl top-16 left-0 z-50 w-11/12 h-auto bg-slate-800 transform -translate-x-full transition-transform duration-300 ease-in-out md:hidden"
        >
          <!-- Drawer content -->
          <div class="flex justify-end p-4">
            <button
              class="border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200"
              type="button"
              aria-label="Close navigation"
              onclick="toggleDrawer()"
            >
              <!-- Close icon -->
              <span>
                <i class="fa-solid fa-rectangle-xmark text-2xl text-white"></i>
              </span>
            </button>
          </div>

          <div class="flex items-center gap-10 text-white opacity-100">
            <div class="avatar">
              <div
                class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 ml-2"
              >
                <img
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                />
              </div>
            </div>
            <div class="">
              <h1 class="text-lg">MD Gousul Islam</h1>
              <p class="text-base">gausulislam5@gmail.com</p>
              <span class="text-xs">01785003901</span>
            </div>
          </div>
          <hr class="bg-white mt-5" />
          <ul
            class="list-style-none p-4 text-white space-y-1 overflow-y-auto max-h-[calc(100vh-200px)]"
          >
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
            <li class="bg-[#3D455C] p-2 rounded-md">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                  <span><i class="fa-solid fa-swatchbook text-2xl"></i></span>
                  <h3>Change Theme</h3>
                </div>
                <i class="fa-solid fa-angle-right text-2xl pr-10"></i>
              </div>
            </li>
          </ul>
        </div>

        <!-- middle  logo img section -->

        <div>
          <a class="logo-img" href="" title="Logo">
            <img
              itemprop="logo"
              data-src="//www.batabd.com/cdn/shop/files/logo-2_d42c63ce-1f56-4af2-a68f-a4cc3a91bd07.png?v=1614332440"
              src="//www.batabd.com/cdn/shop/files/logo-2_d42c63ce-1f56-4af2-a68f-a4cc3a91bd07.png?v=1614332440"
              alt="batabd"
              class="lazyautosizes lazyloaded w-20 md:w-24 lg:w-full"
              data-sizes="auto"
            />
          </a>
        </div>

        <!-- Right elements -->
        <div class="relative flex items-center">
          <a
            class="me-4 text-neutral-600 dark:text-white"
            href="#"
            id="user-icon"
          >
            <div class="customer-links">
              <div class="user-icons flex items-center justify-center">
                <!-- Icon -->
                <i class="fa-regular fa-user text-2xl"></i>
                <i class="fa-solid fa-angle-down angle text-xl"></i>
              </div>
            </div>
          </a>

          <!-- user profile dropdown menu -->
          <div
            class="absolute right-[75%] top-8 z-10 p-3 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dropdown-menu"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
            id="dropdown-menu"
          >
            <div class="py-1" role="none">
              <a
                href="#"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                onclick="gotoLogin()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                <i class="fa-regular fa-user text-lg pr-4"></i>
                Account</a
              >
              <a
                href="#"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                onclick="gotoLogin()"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                <i class="fa-regular fa-user text-lg pr-4"></i>
                Login</a
              >
              <a
                href="#"
                onclick="gotoSignup()"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
                ><i class="fa-regular fa-address-card text-lg pr-2"></i> Sign
                Up</a
              >
              <button
                type="submit"
                class="block px-5 py-1 text-sm text-gray-700 hover:bg-gray-300 hover:text-gray-700 rounded-md"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3"
              >
                <i class="fa-solid fa-ban text-lg pr-4"></i>Sign out
              </button>
            </div>
          </div>

          <!-- wishlist icon -->

          <a
            class="wishlist hidden sm:hiddden md:block"
            href=""
            title="My Wishlists"
          >
            <i class="fa-regular fa-heart text-2xl"></i>
          </a>

          <!-- WhatsApp icon -->
          <a href="#" class="hidden sm:hidden md:block">
            <img
              src="https://cdn.shopify.com/s/files/1/2287/9679/files/whatsapp-icon.png?v=1631614102"
              alt="whatsapp call"
              class="w-6 mx-4"
            />
          </a>

          <!-- cart icons  -->

          <div
            class="wrapper-top-cart relative inline-block transition-all duration-300 ease-in-out"
            onclick="gotoCart()"
          >
            <i class="fa-solid fa-cart-shopping cursor-pointer text-2xl"></i>
            <div class="badge badge-secondary">0</div>
            <div class="dropdown-cart hidden sm:hidden md:hidden lg:block">
              <div class="no-items sm:hidden md:hidden lg:block">
                <p class="text-center mb-6">Your cart is currently empty.</p>
                <div class="mb-3">
                  <a class="btn-black" href="#"> Continue Shopping </a>
                </div>
              </div>
            </div>
          </div>

          <!-- searchbar -->

          <div class="searchBar ml-3 hidden sm:hidden md:hidden lg:block">
            <input type="text" placeholder="SEARCH" />
            <i class="fa-solid fa-magnifying-glass search-icons"></i>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </header>

    <div class="drawer md:drawer-open max-w-screen-lg mx-auto py-5">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex-col">
        <!-- Page content here -->
        <div class="mx-4 sm:mx-8 xl:mx-auto">
          <div class="flex items-center lg:justify-start justify-between">
            <div>
              <label
                for="my-drawer-2"
                class="btn btn-primary drawer-button md:hidden"
                ><i class="fa-solid fa-bars"></i
              ></label>
            </div>
            <div>
              <h1 class="border-b py-6 text-4xl font-semibold">
                User Dashboard
              </h1>
            </div>
          </div>

          <div class="grid grid-cols-8 pt-3">
            <div
              class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow"
            >
              <div id="default-content" class="content-section">
                <h1 class="py-2 text-2xl font-semibold">Profile Information</h1>
                <hr class="mt-4 mb-8" />
                <div class="flex items-center gap-10 text-white opacity-100">
                  <div class="avatar">
                    <div
                      class="w-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 ml-2"
                    >
                      <img
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="lg:flex flex-col sm:flex-row sm:items-center sm:justify-between"
                >
                  <h1 class="py-2 text-xl font-semibold">
                    MD Gousul Islam Hemonto
                  </h1>
                  <p class="text-base py-2">gausulislam5@gmail.com</p>
                  <span class="text-xs py-2">01785003901</span>
                  <button
                    class="inline-flex text-sm font-semibold text-blue-600 underline decoration-2"
                  >
                    Change
                  </button>
                </div>
                <hr class="mt-4 mb-8" />
                <p class="py-2 text-xl font-semibold">Change Password</p>
                <div class="flex items-center">
                  <div
                    class="flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-3"
                  >
                    <label for="current-password">
                      <span class="text-sm text-gray-500"
                        >Current Password</span
                      >
                      <div
                        class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600"
                      >
                        <input
                          type="password"
                          id="current-password"
                          class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                          placeholder="***********"
                        />
                      </div>
                    </label>
                    <label for="new-password">
                      <span class="text-sm text-gray-500">New Password</span>
                      <div
                        class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600"
                      >
                        <input
                          type="password"
                          id="new-password"
                          class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                          placeholder="***********"
                        />
                      </div>
                    </label>
                    <label for="confirm-password">
                      <span class="text-sm text-gray-500"
                        >Confirm Password</span
                      >
                      <div
                        class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600"
                      >
                        <input
                          type="password"
                          id="confirm-password"
                          class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                          placeholder="***********"
                        />
                      </div>
                    </label>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mt-5 ml-2 h-6 w-6 cursor-pointer text-sm font-semibold text-gray-600 underline decoration-2"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.817 5.934"
                    />
                  </svg>
                </div>
                <p class="mt-2">
                  Can't remember your current password.
                  <a
                    class="text-sm font-semibold text-blue-600 underline decoration-2"
                    href="#"
                    >Recover Account</a
                  >
                </p>
                <button
                  class="mt-4 rounded-lg bg-blue-600 px-4 py-2 text-white"
                >
                  Save Password
                </button>
                <hr class="mt-4 mb-8" />
                <div class="mb-10">
                  <p class="py-2 text-xl font-semibold">Delete Account</p>
                  <p
                    class="inline-flex items-center rounded-full bg-rose-100 px-3 py-1 text-sm text-red-500"
                  >
                    Your account will be disabled
                  </p>
                  <br />
                  <p class="py-2 text-sm text-gray-500">
                    Your account will be disabled for 15 days after account
                    deletion and after that your data will be permanently
                    removed from the system.
                  </p>
                  <a
                    class="mt-4 inline-flex text-sm font-semibold text-blue-600 underline decoration-2"
                    href="#"
                    >I want to delete my account</a
                  >
                </div>
              </div>
              <div id="orders" class="hidden content-section">
                <h1 class="py-2 text-2xl font-semibold">My Orders</h1>
                <p>This is the content for My Orders.</p>
              </div>
              <div id="address" class="hidden content-section">
                <form>
                  <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12">
                      <h2
                        class="text-base font-semibold leading-7 text-gray-900"
                      >
                        Personal Information
                      </h2>
                      <p class="mt-1 text-sm leading-6 text-gray-600">
                        Use a permanent address where you can receive mail.
                      </p>

                      <div
                        class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                      >
                        <div class="sm:col-span-3">
                          <label
                            for="first-name"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >First name</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="first-name"
                              id="first-name"
                              autocomplete="given-name"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-3">
                          <label
                            for="last-name"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Last name</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="last-name"
                              id="last-name"
                              autocomplete="family-name"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-4">
                          <label
                            for="email"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Email address</label
                          >
                          <div class="mt-2">
                            <input
                              id="email"
                              name="email"
                              type="email"
                              autocomplete="email"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-3">
                          <label
                            for="country"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Country</label
                          >
                          <div class="mt-2">
                            <select
                              id="country"
                              name="country"
                              autocomplete="country-name"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                            >
                              <option>United States</option>
                              <option>Canada</option>
                              <option>Mexico</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-span-full">
                          <label
                            for="street-address"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >Street address</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="street-address"
                              id="street-address"
                              autocomplete="street-address"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-2 sm:col-start-1">
                          <label
                            for="city"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >City</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="city"
                              id="city"
                              autocomplete="address-level2"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-2">
                          <label
                            for="region"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >State / Province</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="region"
                              id="region"
                              autocomplete="address-level1"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>

                        <div class="sm:col-span-2">
                          <label
                            for="postal-code"
                            class="block text-sm font-medium leading-6 text-gray-900"
                            >ZIP / Postal code</label
                          >
                          <div class="mt-2">
                            <input
                              type="text"
                              name="postal-code"
                              id="postal-code"
                              autocomplete="postal-code"
                              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button
                      type="button"
                      class="text-sm font-semibold leading-6 text-gray-900"
                    >
                      Cancel
                    </button>
                    <button
                      type="submit"
                      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    >
                      Save
                    </button>
                  </div>
                </form>
              </div>
              <div id="wishlist" class="hidden content-section">
                <h1 class="py-2 text-2xl font-semibold">Wishlist</h1>
                <p>This is the content for Wishlist.</p>
              </div>
              <div id="reviews" class="hidden content-section">
                <form
                  class="max-w-md mx-auto mt-16 p-4 bg-white shadow rounded"
                >
                  <h2 class="text-2xl font-bold mb-4">Feedback Form</h2>
                  <div class="mb-4">
                    <label for="name" class="block mb-1">Name</label>
                    <input
                      type="text"
                      id="name"
                      class="w-full py-2 px-4 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    />
                  </div>
                  <div class="mb-4">
                    <label for="email" class="block mb-1">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="w-full py-2 px-4 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="block mb-1">Rating</label>
                    <div class="flex items-center space-x-2">
                      <input
                        type="radio"
                        name="rating"
                        id="rating1"
                        value="1"
                        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
                      />
                      <label for="rating1">1</label>
                      <input
                        type="radio"
                        name="rating"
                        id="rating2"
                        value="2"
                        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
                      />
                      <label for="rating2">2</label>
                      <input
                        type="radio"
                        name="rating"
                        id="rating3"
                        value="3"
                        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
                      />
                      <label for="rating3">3</label>
                      <input
                        type="radio"
                        name="rating"
                        id="rating4"
                        value="4"
                        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
                      />
                      <label for="rating4">4</label>
                      <input
                        type="radio"
                        name="rating"
                        id="rating5"
                        value="5"
                        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
                      />
                      <label for="rating5">5</label>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="message" class="block mb-1">Message</label>
                    <textarea
                      id="message"
                      class="w-full py-2 px-4 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    ></textarea>
                  </div>
                  <button
                    type="submit"
                    class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                  >
                    Submit
                  </button>
                </form>
              </div>
              <div id="settings" class="hidden content-section">
                <h1 class="py-2 text-2xl font-semibold">Account Settings</h1>
                <p>This is the content for Account Settings.</p>
              </div>
              <div id="billing" class="hidden content-section">
                <h1 class="py-2 text-2xl font-semibold">Billing</h1>
                <p>This is the content for Billing.</p>
              </div>
              <div id="notifications" class="hidden content-section">
                <h1 class="py-2 text-2xl font-semibold">Notifications</h1>
                <p>This is the content for Notifications.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer-side">
        <label
          for="my-drawer-2"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          id="menu-list"
          class="menu bg-base-200 text-base-content min-h-full w-80 p-4"
        >
          <!-- Sidebar content here -->
          <li
            class="relative mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition-all duration-300 ease-in-out hover:border-l-blue-700 hover:text-blue-700"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              Manage My Account
            </button>
            <ul id="manage-account-menu" class="hidden mt-2 w-full">
              <li
                class="px-4 py-2 text-gray-700 hover:bg-gray-100"
                onclick="showContent('default-content', this)"
              >
                Profile
              </li>
              <li
                class="px-4 py-2 text-gray-700 hover:bg-gray-100"
                onclick="showContent('address', this)"
              >
                Address
              </li>
              <li
                class="px-4 py-2 text-gray-700 hover:bg-gray-100"
                onclick="showContent('wishlist', this)"
              >
                Wishlist
              </li>
            </ul>
          </li>
          <li
            id="my-orders"
            class="mt-3 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"
            onclick="showContent('orders', this)"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              My Orders
            </button>
          </li>
          <li
            class="mt-3 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"
            onclick="showContent('reviews', this)"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              My Reviews
            </button>
          </li>
          <li
            class="mt-3 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"
            onclick="showContent('settings', this)"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              Account Settings
            </button>
          </li>
          <li
            class="mt-3 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"
            onclick="showContent('billing', this)"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              Billing
            </button>
          </li>
          <li
            class="mt-3 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700"
            onclick="showContent('notifications', this)"
          >
            <button
              id="manage-account-btn"
              class="w-full text-left transition-all duration-300 ease-in-out"
            >
              Notifications
            </button>
          </li>
        </ul>
      </div>
    </div>

    <footer class="footer p-10 bg-black text-white">
      <nav class="footer-nav">
        <h6 class="footer-title">ABOUT</h6>
        <a class="">About Us</a>
        <a class="">Careers</a>
        <a class="">Awards & Recognition</a>
        <a class="">Investors</a>
        <a class="">Bata Industrials</a>
        <a class="">Share Department</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">INFORMATION</h6>
        <a class="">TERMS & CONDITIONS</a>
        <a class="">Payment Options</a>
        <a class="">Privacy Policy</a>
        <a class="">Franchise Programme</a>
        <a class="">Coverage areas</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">POPULAR BRANDS</h6>
        <a class="">Bata</a>
        <a class="">Hush Puppies</a>
        <a class="">Power</a>
        <a class="">Comfit</a>
        <a class="">Weinbrenner</a>
        <a class="">North Star</a>
        <a class="">Marie Claire</a>
      </nav>
      <nav class="footer-nav">
        <h6 class="footer-title">CUSTOMER SERVICE</h6>
        <a class="">FAQs</a>
        <a class="">MyBata</a>
        <a class="">Bata Stores</a>
        <a class="">All About Feet</a>
        <a class="">Contact Info</a>
        <a class="">Report Issue</a>
      </nav>
      <nav>
        <h6 class="footer-title">INFO</h6>
        <a class="">Bata Shoe Company</a>
        <a class="">
          Bangladesh Ltd. <br />
          Tongi Gazipur, Bangladesh.
        </a>
        <a class="">Call us at: 09666200300</a>
        <a class="">
          (9am-9pm) <br />
          Email: bd.customercare@bata.com
        </a>
      </nav>
    </footer>

    <footer
      class="footer px-10 pt-4 border-t bg-black text-white border-base-300 footer2"
    >
      <aside class="items-center grid-flow-col">
        <p>Sign up for our Newsletter</p>
      </aside>
      <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
          <i class="fa-brands fa-twitter text-2xl"></i>
          <i class="fa-brands fa-youtube text-2xl"></i>
          <i class="fa-brands fa-facebook text-2xl"></i>
        </div>
      </nav>
    </footer>

    <footer class="footer footer-center px-10 py-2 bg-black text-white rounded">
      <p>
        © 2023 Bata Shoe Company Bangladesh Ltd. Tongi, Postal code - 1710,
        Gazipur, Bangladesh
      </p>
      <nav>
        <div class="grid grid-flow-col gap-4">
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/visa-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/masterc-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
          <a>
            <img
              src="https://www.batabd.com/cdn/shop/files/amex-sq_x300.png?v=1614293775"
              alt=""
              class="w-8"
            />
          </a>
        </div>
      </nav>
    </footer>

    <script src="../Components//userDashboard.js"></script>
    <script src="../Components/script.js"></script>
  </body>
</html>
